body {
    background-color: white;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    background-color: white;
    padding: 3rem;
    border: 2px solid darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    text-align: center;
}

.label {
    font-weight: bold;    
}

.charcter-amount-container {
    display: flex;
    align-items: center;
}
 
.number-input {
    width: 2rem;
}

.password-display {
    background-color: white;
    color: black;
    padding: 1rem;
    border: 1px solid darkred;
    height: 2rem;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

.button {
    grid-column: span 2;
    background-color: darkred;
    border: 2px solid darkred;
    color: white;
    padding: .5rem 1rem;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #FFFFFF33;
    color: darkred;
}